body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #200;
    margin: 25;
    padding: 100;
	text-align: center;

}

header, footer {
    background-color: #700;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}